<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>

                
                  <p class="pb-6">Join us we will learn and knoe more about LEGOS and you will get best deals here.</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt = "my image " class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">Manan Patel</h2>
              <p class="text-gray-600">"Hey guys I am Manan Patel. I am a driven individual with a keen interest in data analysis. With a natural curiosity for uncovering insights from data, I possesse a strong analytical mindset and a passion for problem-solving. My fascination with data analytics stems from my desire to understand trends, patterns, and behaviors, allowing me to make informed decisions and drive meaningful outcomes. Eager to delve deeper into the realm of data analysis, I am seeks to leverage my skills in statistics, programming, and data visualization to extract valuable insights that drive business growth and innovation. My enthusiasm for data analytics positions me as a promising candidate in the field."</p>
              <br>
              
          </div>
      </div>
  </div>
</body>

</html>