<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Something about Myself &amp; Backend Developer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg"
          alt="profile" />

      </div>
      <div class="prose">

        <p>My name is Manankumar Patel, about to finish my student phase of my life at wonderfull college seneca .</p>

        <p>Currently I am doing my 3rd semester in computer programming at seneca college. I am looking forward to build my carrier in data science and machien learning. I am learning data science own my own and building some projects in it.</p>

      </div>

    </div>

  </div>
</body>

</html>