<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

  <style>
    .card {
        height: 100%;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.1); ;
    }
    
    .card img {
        height: 200px;
        object-fit: cover; 
    }

  </style>
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page:'/home'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-lg">
                  <h1 class="text-5xl font-bold">Come on Come with us on a thrilling adventure with our captivating Lego world.</h1>
      
                  <p class="py-6">"Discover endless creativity and boundless fun with our diverse Lego collection, where imagination knows no limits. Start building today!".</p>
              
                  <a href="/lego/sets" class="btn btn-primary">Trust me Here is something intresting</a>
              </div>
          </div>
      </div>
  </div>

  <br>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

          <div class="card bg-base-100 shadow-xl">
              <figure>
              <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10258-1.jpg" alt="Lego set - 10258-1">
              </figure>
              <div class="card-body">
              <h2 class="card-title">London Bus</h2>
              <p>These MOCs can be built using only the parts in 10258-1 London Bus.</p>
                  <div class="card-actions justify-end">
                          <a href="/lego/sets/10258-1" class="btn btn-primary">View</a>
                  </div>
              </div>

          </div>

      </div>

      <div>
        <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10259-1.jpg" alt="Lego Set 10259-1">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Winter Village Station</h2>
            <p>These MOCs can be built using only the parts in 10259-1 Winter Village Station.</p>
            <div class="card-actions justify-end">
                <a href="/lego/sets/10259-1" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

      <div>
      <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full " src="https://cdn.rebrickable.com/media/sets/10260-1.jpg" alt="Lego Set - 10260-1">
          </figure>
          <div class="card-body">
          <h2 class="card-title">Downtown Diner</h2>
          <p>These MOCs can be built using only the parts in 10260-1 Downtown Diner..</p>
              <div class="card-actions justify-end">
                  <a href="/lego/sets/10260-1" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>

      </div>
  </div>
  
</body>

</html>
